@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide {
    @apply hidden !important;
  }
  .live-dot::after {
    @apply absolute w-1 h-1 md:w-2 md:h-2 flex justify-center items-center bg-red rounded-full top-1 -right-[0.25rem] md:top-0 md:-right-[0.5rem] content-none;
  }
  .grid-area-self {
    grid-area: 1/1/1/1;
  }
}

@layer utilities {
  .text-shadow-none {
    text-shadow: none;
  }
  .text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body {
  font-size: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
  user-select: none;
  font-weight: inherit;
}

button:focus,
a:focus {
  border: none;
  outline: 2px solid #eaeff750;
}

button,
a {
  color: inherit;
}

select,
button,
textarea {
  font-family: inherit;
}

input,
button,
textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

input:focus {
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
}
